# Dependencies
/node_modules
/.pnp
.pnp.*

# Next.js
/.next/
/out/
next-env.d.ts

# Production build
/build
/dist

# Environment (NUNCA commitar segredos)
.env
.env.local
.env.*.local

# Drizzle
/drizzle/meta

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor / OS
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.pem

# Testing / coverage
/coverage
